<html>  
    <head>
        <style>
            .file_submit {
            margin-right: 12px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: gold;
            display: inline-block;
            font-size: 25px;
            color: #28a745;
            border-color: #28a745;
          }
          h3 {
            font-style: italic;
            text-align: center;
            font-size: 50px;
            color: rgb(9, 240, 43);

          }
         
          </style>
    </head>
    {% block content %}
        <div class="content">
            <body>
                <h3  >Click "Open Cam" to open a web camera</h3>
                <form class="grid" action="/" method="GET">
                    <!-- <center><input name="q" type="submit" placeholder="Open cam" class="file_submit"></center>  -->
                    <center><button id="exitBtn" name="q" class="file_submit" onclick="myFunction()">Try it</button></center>
                    
                        <script>
                            function myFunction() {
                            confirm("confirm to open webcam!");
                            }
                        </script> 
                </form>
            </body>
        </div>
    {% endblock content %}
</html>